extends layout

block content
  .row
    .col-6
      h3 Zabbix Configuration

      form#form_config_zbx
        each val, key in config.zbx
          .form-group.row
            label.col-sm-2.col-form-label("for"=key) #{key}
            .col-sm-10
              if(key == "password")
                input.form-control(type="password" name= key ,id= key, value = val)
              else
                input.form-control(type="string" name= key ,id= key, value = val)
        button.btn.btn-primary(type="submit") Save
        a(class='btn btn-warning float-right' role="button" href='/reconnect') Reconnect
    .col-6
      h3 hosts ( green = exported)
      #hosts-list-checkbox



block endscript
  script(type='text/javascript').
    var config =  !{JSON.stringify(config)}
    function generate_hostlist_btn(data){
        $("#hosts-list-checkbox").empty()
        data.forEach(host => {
          if(config.exporter.hostlist.includes(host.name)){
            $("#hosts-list-checkbox").append('<button type="button" class="btn btn-success btn-sm host-select" id="'+host.name+'">'+host.name+'</button>')
          } else {
            $("#hosts-list-checkbox").append('<button type="button" class="btn btn-secondary btn-sm host-select" id="'+host.name+'">'+host.name+'</button>')
          }

        });
    }
    function gethosts(){
      $.ajax({
            method: "GET",
            url: "/api/zbx/hosts",
          }).done(function(data) {
              generate_hostlist_btn(data.result)
          });
    };

    $(document).ready(function () {
      gethosts()

      $( "#form_config_zbx" ).submit(function( event ) {
        event.preventDefault();
        var data = $(this).serializeFormJSON();
        $.ajax({
            method: "POST",
            url: "/api/config",
            data: data
          }).done(function(data) {
               $("#debug").empty().append(JSON.stringify(data))
          });
      });

       $(document).on("click", ".host-select",function(event) {
        event.preventDefault();
        hostname=$(this).attr("id")
        data={hostname: $(this).attr("id")}
        $("#debug").empty().append(JSON.stringify(data))
        if(config.exporter.hostlist.includes(hostname)){
            $.ajax({
            method: "POST",
            url: "/api/config/host/remove",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data)
          }).done(function(data) {
             $("#debug").empty().append(JSON.stringify(data))
             location.reload()
          });
        } else{
          $.ajax({
            method: "POST",
            url: "/api/config/host/add",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data)
          }).done(function(data) {
             $("#debug").empty().append(JSON.stringify(data))
             location.reload()
          });
        }
      });
    });

